.container {
  border: 2px solid #333;         /* Adds a dark border */
  background-color: #f0f8ff;      /* Light background */
  color: #333;                    /* Text color */
  padding: 20px;                  /* Adds space inside the container */
  border-radius: 8px;             /* Optional: Rounded corners */
}

.para {
  color: #555;                    /* Slightly different text color for paragraph */
  font-size: 16px;
}

.images{
  width: 200px;
  height: 200px;
} 

.formSection{
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  padding-top: 10px;
}


.inputDiv{
  width: 15rem;
  height: 3rem;
}

.submitBtn{
  padding: 5px 10px;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  margin-top: 5px;
  background-color: white;
}

.navSection{
  border: 1px solid red;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  color: white;
  }

.navSection ul li{

  list-style-type: none;;
  display: inline-flex;
  margin: 20px;
  color: white;
}