
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div{
    color: green;
}
#thriller {
    color: red;
}
.headings{
    color: brown;
    background-color: bisque;
}
.message {
    width: 500px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
}
.message>p>span{
    color: black;
    font-size: x-large;
    border: 1px solid green;
}
.sample{
    column-count: 4;
    border:1px solid black;
    column-gap: 50px;
    padding-top: 20px;
    margin-top: 5px;
    font-size: 100;
    letter-spacing: 1px;
    word-spacing: 2px;
}
*{
    font-family: "PT Sans", sans-serif;
}

.box-model{

    border: 30px solid black;
    text-align: center;
    width: 300px;
    margin: 100px;

    padding: 100px;
    box-sizing: border-box;
}
.picture-box{
    border: 2px solid green;
    width: 300px;
    height: 300px;
    background-image: url("images/img-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.img-1{
    width: 100%;
    height: 100%;
}
/* body{
    background-image: url("images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

h2{
    color: red;
    border: 1px solid black;
}
div h2{
    color: blue;
}
div .sample{
    border: 5px solid green;
}


div > #course{
    background-color: blue;
}
.box-container{
    border: 2px solid black;
    
}
.box-1{
    width: 100px;
    height: 100px;
    background-color: brown;
    display: inline-block;
}
.box-2{
    width: 100px;
    height: 100px;
    background-color:antiquewhite;
    display: inline-block;
}
.box-3{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    display: inline-block;
}
.box-4{
    width: 100px;
    height: 100px;
    background-color: wheat;
    display: inline-block;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 1px solid red;

}

.position-relative-demo{
    border: 1px solid black;
    margin: 100px;
}
.div-1{
    width: 200px;
    height: 200px;
    background-color: red;
    display: inline-block;
    left: 400px;
    top: 100px;
    position:relative
    
}
.div-2{
    width: 200px;
    height: 200px;
    background-color: black;
    display: inline-block;

}
.position-absolute-demo{
    border: 1px solid black;
    width: 500px;
    margin: 100px;
    padding: 50px;
    position: relative;
}
.box-5{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: bisque;
    color: red;
    position: absolute;
    left: 100px;
    top: 100px
    
}
.box-6{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
    color: red;
}
.box-7{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: green;
    color: red;
}
.box-8{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: gray;
    color: red;
}
.paper{
    border: 1px solid black;
    column-count: 4;
}
.paper img {
    
    right: 0;
    bottom: 0;
    position: fixed;
    width: 50px;
    height: 50px;
}
.nav-bar{
    top: 0;
    width: 100%;
    color: white;
    background-color: gray;
    text-align: center;
    position:sticky
    
    
}
.men-image-1{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.men-image-1 img{
    width: 100%;
    height: 100%;
}
.men-image-2{
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block
    
}
.men-image-2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.men-image-3{
    border: 2px solid black;
    border-radius: 10px;
    width:200px;
    height: 200px;
    display: inline-block
    
}
.men-image-3 img{
    width: 100%;
    height: 100%;
    border-radius: 10px
}
.pseudo-demo{
    width: 150px;
    height: 150px;
    margin: 100px;
}
.pseudo-demo img{
    width: 100%;
    position: relative;
}

.pseudo-demo :hover{
    width: 200px;
    height: 200px;
    
}
.test-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top: -200px;
    left :300px;
    
}
.test-btn:active{
    background-color: blue;
}
.input-form{
    position: relative;
    top: -300px;
    left :600px;

}
.input-form input{
    width: 500px;
    height: 20px;
    margin: 10px;
}
.input-form input:focus{
    background-color: rgb(8, 230, 156);
}
.books-list{
    background-color: black;
}
.books-list ol li:first-child {

    color: rgb(161, 14, 14);
}
.books-list ol li:nth-child(5) {

    color: rgb(161, 14, 14);
}
input[type=checkbox]:checked+label{
    color: red;
    font-size: larger;
}
.test-message p::before{
   content: "This is before pseudo element ";
   color: brown;
   
}
.test-message p::after{
    content: " this is after pseudo element";
    color: blue;
}
.test-message{
    background-color: black;
}
.test-message p::first-letter{
    color: yellow;
}
.test-message p::first-line{
    color: red;
}
input::placeholder{
    color: red;
}
